/* @import "tailwindcss"; */
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

::-webkit-scrollbar {
    display: none;
}

head{
    background-color: #28282B; 
}

body{
    background-color: #28282B;
    margin: 0%;
}

@font-face {
  font-family: MN20;
  src: url("/src/Modern_No_20_Font.ttf");
}

input[type="file"] {
    display: none;
}

#content{
    margin: 2vh; 
    flex-grow: 1;
    display:flex; 
    flex-direction: column;
}

.custom-file-upload {
    color: #ccc;
    border: 0.5px dashed #ccc;
    border-radius: 10px;
    display: flex;
    padding: 2vh;
    width: 95%;
    height: 20vw;
    cursor: pointer;
    font-family: "Instrument Sans", sans-serif;
}

.titlebar {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  app-region: drag;
  width: 100vw;
  margin-top: 0px;
}

.titleWrapper{
   display: flex;
}
#upperTitle{
    margin-top: 2vh;
}
#lowerTitle{
    margin-bottom: 8vh;
}

.titleText{
    color: #FAF9F6;
    margin: auto;
    font-size: larger;
    font-family: MN20;
}
.bodyText{
    color: #FAF9F6;
    font-family: "Instrument Sans", sans-serif;
}

#fileInput{
    color: white;
    background: none;
}

.row1{
    display: flex;
    justify-content: space-between;
}

.textInput{
    background-color: #28282B;
    border-radius: 10px;
    border: 0.5px solid #ccc;
    padding: 10px;
    margin: 1vh;
    color: #ccc;
}

#sidebar{
    background-color: #1E1E1E;
    width: 25vw;
    height: 100vh;
    margin: 0px;
    padding: 2vh;
}

.sidebarBox{
    display: flex; 
    background-color: #28282B;
    flex-direction: column;
    border: 0.5px solid #ccc;
    padding: 1vh;
    height: 20vw;
    border-radius: 10px;

}
.subtitle{
    font-family: "Instrument Sans", sans-serif;
    font-size: medium;
    margin-top: 2vh;
    color:#FAF9F6;
    margin-bottom: 1vh;
}
.sidebarBtn{
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 1vh;
    width: auto;
    cursor: pointer;
}

#uploadWrapper{
    display:flex;
    flex-direction: column;
    width: 95%;
    border-radius: 10px;
    background-color: #1E1E1E;
    border: 0.5px solid #ccc;
    margin: auto;
    padding: 2vh;
    margin-bottom: 1px;
    height: auto;
    max-height: 35vh;
    overflow: scroll;
}

.filesHeader{
    color: #ccc;
    line-height: 10px;
    padding-left: 1vh;
    padding-right: 1vh;
}

.overrideItem{
    color: #ccc;
    display: flex;
    font-size: small;
    justify-content: space-between;
    background-color: #1E1E1E;
    border-radius: 5px;
    padding: 3px;
    margin: 3px;
}
.tagItem{
    color: #ccc;
    display: flex;
    justify-content: space-between;
    background-color: #1E1E1E;
    border-radius: 5px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 3px;
}
.deleteOverride{
    color: red;
    cursor: pointer;
}
.deleteTag{
    color: red;
    cursor: pointer;
}

.sidebarInnerText{
    color: grey;
    line-height: 2%;
}

#uploadDiv{
    width: 100%;
    display: flex;
    justify-content: end;
}

#uploadTextWrapper{
    margin: auto;
    margin-bottom: 2vh;
}

.fileBar{
    display: flex;
    color: #ccc;
    border-bottom: 0.5px solid #ccc;
    justify-content: space-between;
    margin: 2vh;
    padding-bottom: 2vh;
    margin-bottom: 2vh;
}
.filetypeDropdown{
    background-color: #28282B;
    color: #ccc;
    border-radius: 10px;
}

#commandWrapper{
    width: auto;
    display: flex;
    align-items: flex-end;
    position: absolute;
    bottom: 3vh;
    
}

#commandSelect{
    margin: auto;
    margin-left: 2vh;
    width:150px;
    height: 4vh;
    color: #ccc;
    background-color: #1E1E1E;
    border-radius: 10px;
}

#createFile{
    background-color: #FAF9F6;
    border-radius: 10px;
    position: absolute;
    bottom: 4vh;
    right: 2vw;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 2vh;
    width: 25vw;
    cursor: pointer;
}

#formatInfo{
    margin: 2vh;
    margin-top: 1px;
    align-self: end;
    width:20vw;
}

#filesEmptyText{
    font-family: "Instrument Sans", sans-serif;
    margin: auto;
    margin-top: 3vh;
    margin-bottom: 2vh;
    font-size: medium;
    font-weight: 400;
}


#commandInfoPopup{
    background-color: #1E1E1E;
    height: 70vh;
    width: 100vh;
    position: fixed;
    right: 13%;
    top: 13%;
    z-index: 9;
    border-radius: 10px;
    display: none;
    border: 0.5px solid #ccc;
    color: #ccc;
    padding: 2vh;
    flex-direction: column;
}

/* #closeInfo{
    color: red;
    margin: 2vh;
    cursor: pointer;
    width: 50px;
    justify-self: end;
} */


#formatPopup{
    background-color: #1E1E1E;
    height: 70vh;
    width: 100vh;
    position: fixed;
    right: 13%;
    top: 13%;
    z-index: 10;
    border-radius: 10px;
    display: none;
    border: 0.5px solid #ccc;
    color: #ccc;
    padding: 2vh;
    flex-direction: column;
}

.warningText{
    margin-top: 0px;
    color: red;
}
.infoText{
    margin-top: 8vh;
}

#infoTitle{
    color: #ccc;
    font-family: "Instrument Sans", sans-serif;
}

.formatInput{
    background-color: #1E1E1E;
    border: 0.5px solid #ccc;
    border-radius: 10px;
    color: #ccc;
    margin: 2vh;
    text-align: center;
}
.rgFormat{
    width: 8vw;
}

.customFormat{
    display: flex;
}

.textNode{
    margin-top: auto;
    margin-bottom: auto;
}

.customFormatTitle{
    color: #ccc;
    background-color: #28282B;
    font-family: "Instrument Sans", sans-serif;
    margin-right: 2vh;
}


.spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    position: fixed;
    top: 50vh;
    left: 50vw;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}