@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

head{
    background-color: #28282B; 
}

body{
    background-color: #28282B;
    margin: 0%;
}

@font-face {
  font-family: MN20;
  src: url("/src/Modern_No_20_Font.ttf");
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    color: #ccc;
    border: 1px dashed #ccc;
    border-radius: 10px;
    display: flex;
    padding: 6px 12px;
    margin-top: -3px;
    width: 90%;
    height: 20vw;
    cursor: pointer;
}

.titlebar {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  app-region: drag;
}

.titleWrapper{
   display: flex;
}

.titleText{
    color: #FAF9F6;
    margin: auto;
    font-size: larger;
    font-family: MN20;
}
.bodyText{
    color: #FAF9F6;
    font-family: "Instrument Sans", sans-serif;
}

#fileInput{
    color: white;
    background: none;
}

.row1{
    display: flex;
    justify-content: space-between;
}

.textInput{
    background-color: #28282B;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 1%;
    color: #ccc;
}

#sidebar{
    background-color: #1E1E1E;
    width: 25vw;
    height: 100vh;
    margin: 0px;
    padding: 20px;
}

.sidebarBox{
    display: flex; 
    background-color: #28282B;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 6px 12px;
    height: 20vw;
    border-radius: 10px;

}
.subtitle{
    margin-top: 30px;
    color: #ccc;
    line-height: 5px;
    

}
.sidebarBtn{
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 1%;
    width:100%
}

#uploadWrapper{
    width: 95%;
    border-radius: 10px;
    background-color: #1E1E1E;
    border: 0.5px solid #ccc;
    margin: 1px;
    height: auto;
}

.filesHeader{
    color: #ccc;
    line-height: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.overrideItem{
    color: #ccc;
    display: flex;
    justify-content: space-between;
}
.tagItem{
    color: #ccc;
    display: flex;
    justify-content: space-between;
}
.deleteOverride{
    color: red;
    cursor: pointer;
}
.deleteTag{
    color: red;
    cursor: pointer;
}

.sidebarInnerText{
    color: grey;
    line-height: 2%;
}